*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
sentimentanalyzer/target
*.classpath
*.project
sentimentanalyzer/.settings
/sentimentanalyzer/togf.bat
/HtmlToPdfTest/test.html.pdf
*.log
.settings
/sentimentanalyzer/log.txt
/sentimentanalyzer/searches
/sentimentanalyzer/sentimented
/sentimentanalyzer/counted
/sentimentanalyzer/dependency-reduced-pom.xml
/ChartTest/piechart_trololo.png
dependency-reduced-pom.xml
/sentimentanalyzer/htmlMessageReports
/ChartTest/barchart_demo.png
